{% extends "excerpts/Excerpt/base.body.html" %}

{% set client = this.owner %}

{% block our_ref %}
<p class="OurRef">
{{tr("U. Zeichen",fr="Notre réf.")}}: {{this.user.initials}}/{{client.get_primary_coach().initials}}/{{this.id}}
</p>
{% endblock %}


{% block body %}

{{ super() }}

<p>

{{ar.show("cal.TasksByProject", client)}}

{% for task in client.cal_task_set_by_project.all() %}
{{task}}
{% endfor %}

{% endblock %}

{% block signature %}
{{tr(de="Ihr Ansprechpartner:",fr="Votre personne de contact:")}}: 
<p>{{this.user}}</p>
{% endblock %}
