-e git+https://github.com/lino-framework/atelier.git@stable#egg=atelier
-e git+https://github.com/lino-framework/lino.git@stable#egg=lino
-e git+https://github.com/lino-framework/xl.git@stable#egg=lino_xl
# -e git+https://github.com/lino-framework/cosi.git@stable#egg=lino_cosi
-e git+https://github.com/lino-framework/book.git@stable#egg=lino_book
-e git+https://github.com/eliben/pycparser@release_v2.14#egg=pycparser
