-e svn+https://svn.forge.pallavi.be/appy-dev/dev1#egg=appy
# -e git+https://github.com/lino-framework/appypod.git#egg=appy
# git+https://github.com/lino-framework/atelier.git#egg=atelier
# git+https://github.com/lino-framework/etgen.git#egg=etgen
-e git+https://github.com/lino-framework/lino.git#egg=lino
-e git+https://github.com/lino-framework/xl.git#egg=lino_xl
#-e git+https://github.com/lino-framework/cosi.git#egg=lino_cosi

# welfare needs lino_book for building the docs,
-e git+https://github.com/lino-framework/book.git#egg=lino_book

# -e git+https://github.com/eliben/pycparser@release_v2.14#egg=pycparser


-e git+https://github.com/lino-framework/weleup.git#egg=lino_weleup
-e git+https://github.com/lino-framework/welcht.git#egg=lino_welcht
