{% extends "admin_main_base.html" %}
{% block hello_user %}
{{ super() }}

{% set T = settings.SITE.modules.pcsw.UsersWithClients %}
{% if T.default_action.get_view_permission(ar.get_user().profile) %}
<h2>{{T.label}}</h2>
{{E.tostring(ar.show(T))}}
{% endif %}

<h2>{{_('Upcoming reminders')}}</h2>
<table bgcolor="#eeeeee" padding="2pt" width="100%"><tr><td>
{{settings.SITE.reminders_as_html(ar,days_forward=30,
            max_items=10,before='<ul><li>',
            separator='</li><li>',
            after="</li></ul>")}}
</td></tr></table>            
{% endblock %}
