{% extends "excerpts/base.body.html" %}

{% block our_ref %}
{{tr("U. Zeichen",fr="Notre réf.")}}: {{obj.user.initials}}/{{this.user.initials}}/{{obj.partner.id}}/{{this.id}}
{% endblock %}

{% block body %}

{{ super() }}

<p>
{% set client = this.owner %}
{% set times = (this.owner.waiting_since, this.owner.gone_since) %}
{{tr(en="was present today between %s and %s o'clock",
    de="am heutigen Tage in der Zeit von %s Uhr bis %s Uhr",
    fr="s'est présenté aujourd'hui entre %s h et %s h") % times}}
{{tr(en="in the centre for administrative reasons.",
de="im ÖSHZ zwecks Regelung administrativer Angelegenheiten vorstellig wurde.",
    fr="au CPAS pour régler des affaires administratives.")}}
</p>

{% endblock %}
