{# `this` is the Excerpt, `obj` is the `owner` (e.g. a Confirmation, a
Guest, a Client, ... #}
<p class="OurRef">
{% block our_ref %}
{{tr("U. Zeichen",fr="Notre réf.")}}: {{this.user.initials}}/{{this.project.id}}/{{this.id}}
{% endblock %}
</p>

{% block title %}
<h1>{{this.excerpt_type}}</h1>
{% endblock %}

{% block body %}
{% endblock %}

{% block signature %}
<p class="KeepTogether">{{tr(en="The PCSW", de="Für das Öffentliche Sozialhilfezentrum,",fr="Pour le Centre Public d’Action Sociale,")}}
<br/>{{tr(en="The secretary", de="Der Sekretär,",fr="Le secrétaire,")}}
<br/>{{tr(en="delegation", de="im Auftrag,",fr="par délégation,")}}
<br/>
<br/>
<br/>
<br/>{{this.user}}
<br/>{{this.user.coaching_type or _("Secretariat")}}
</p>
{% endblock %}

{% block trailer %}
{% endblock %}
