{% extends "aids/Confirmation/certificate.body.html" %}

{% block what %}
<p>
{%- if language == 'de' -%}
<b>{{when}}</b> eine laut Gesetz vom 2. April 1965 eingeführte
<b>gleichgestellte Sozialhilfe für Ausländer</b>
{%- if obj.amount %}
in Höhe von <b>{{decfmt(obj.amount)}} €/Monat</b>
{% endif -%}
{%- if obj.category %}
(Kategorie: <b>{{obj.category}}</b>)
{% endif %}
{{iif(obj.is_past(), "bezogen hat", "bezieht")}}.
{%- else -%}
{{iif(obj.is_past(), "a bénéficié", "bénéficie")}}
<b>{{when}}</b> d'une <b>aide sociale équivalente pour étrangers</b>
prévue par la loi du 2 avril 1965
{%- if obj.amount %}
d'un montant de <b>{{decfmt(obj.amount)}} €/mois</b>
{% endif -%}
{%- if obj.category %}
(Catégorie: <b>{{obj.category}}</b>)
{% endif -%}.
{%- endif -%}
</p>
{% endblock %}
