{% extends "aids/Confirmation/certificate.body.html" %}

{% block what %}
<p>
{%- if language == 'de' -%}

{{when}} 

weder Eingliederungseinkommen noch Sozialhilfe bezieht, da das
augenblickliche Statut nur Anrecht auf die in Artikel 57 § 2.1 des
Grundlagengesetzes über die ÖSHZ vom 08.07.1976 vorgesehene dringende
medizinische Hilfe gibt.

{%- else -%}

{{when}}

n’a droit ni au revenu d’intégration ni à une aide sociale, étant
donné que son statut actuel donne uniquement droit à l’aide médicale
urgente conformément à l’article 57 § 2.1 de la loi du 08.07.1976
organique des CPAS.

{%- endif -%}
</p>
{% endblock %}
