{# `this` is the Excerpt, `obj` is a Confirmation #}
{% block our_ref %}
<p class="OurRef">
{{tr("U. Zeichen",fr="Notre réf.")}}: {{obj.user.initials}}/{{obj.signer.initials}}/{{obj.client.id}}/{{this.id}}
</p>
{% endblock %}

{% block title %}
<h1>{{obj.get_confirmation_title()}}</h1>
{% endblock %}

{% block body %}
{% endblock %}

{% block signature %}
<p>{{tr(en="The PCSW", de="Für das Öffentliche Sozialhilfezentrum,",fr="Pour le Centre Public d’Action Sociale,")}}</p>
<p>{{tr(en="The secretary", de="Der Sekretär,",fr="Le secrétaire,")}}</p>
<p>{{tr(en="delegation", de="im Auftrag,",fr="par délégation,")}}</p>
<p></p>
<p></p>
<p></p>
<p>{{this.user}}</p>
{% endblock %}
