{% extends "excerpts/Excerpt/base.body.html" %}

{%- set aid = this.owner -%}

{% block body %}
<p>{{tr(en="We hereby certify that",
        de="Wir bescheinigen hiermit die Kostenübernahme zu Gunsten von",
        fr="Par la présente nous certifions que")}}</p>

<p class="EnhancedPar">
{{this.project.get_full_name()}}
<br>
{{tr(de="Nationalregisternummer",fr="Numéro du Registre National")}}
{{this.project.national_id}}
<br>
{{tr(de="wohnhaft zu",fr="domicilié"+this.project.mf("","e","(e)")+" à")}}
{{', '.join(this.project.address_location_lines())}}
</p>

{% if aid.urgent %}
<p><b>im Rahmen der dringenden medizinischen Hilfe.
Bitte in jedem Fall die SIS-Karte prüfen und mit der Krankenkasse
abrechnen.
<br/>Bitte die beigefügte Bescheinigung ausgefüllt an das ÖSHZ zurück
senden!</b>
</p>
{% endif %}

<ol>
<li>für <b>Arzthonorare</b> in Höhe der LIKIV-Tarife für die Visite beim
{{aid.doctor_type}} Dr. {{aid.doctor}}
</li>

<li>und <b>Arzneikosten</b> für die durch 
Dr. {{aid.doctor}}
   verschriebenen und die Apotheke <b>[=trim(ParField(PXS->Apotheke,{||PAR->Firme}))]</b>
   ausgehändigten Medikamente.

</ol>

<p>{{ aid.confirmation_text() }}</p>
{% if aid.remark %}
<p>{{ aid.remark }}</p>
{% endif %}

<h1 class="PageBreakHeader">Attestation<h1>

<p>Je sousigné, {{this.owner.doctor}},
<br>
<br>docteur en médecine, 
<br>
<br>déclare avoir reçu en consultation en date du {{fds(this.owner.date)}}
<br>
<br>{{this.owner.client.get_full_name()}}
<br>
<br>domicilié{{this.owner.client.mf('', 'e', '(e)')}} à <b>{{', '.join(this.owner.client.address_location_lines())}}</b>

<br>dans le cadre de l'aide médicale urgente accordée conformément à
l'article 57, §2, de la loi du 8 juillet 1976 organique des CPAS aux
demandeurs d'asile déboutés ou à d'autres étranger en séjour illégal
dans le Royaume et qui se trouvent dans un état d'indigence.
<br>
<br>
<br>
<br>
<br>
<br>
<br>................................................
<br>(signature et cachet du médecin)
</p>

{% endblock %}
