{% extends "attestations/Attestation/certificate.body.html" %}

{% block body %}

{{ super() }}

<p>
{{tr(en="receives a",
     de="eine",
     fr="bénéficie d'une")}}
{{this.owner.aid_type.get_long_name()}}
({{tr(en="Category:",
     de="Kategorie:",
     fr="Catégorie:")}}
{{this.owner.category}})
{{tr(en="",
     de="bezieht",
     fr="")}}

{% if this.owner.applies_from %}
{{tr(en="since",
     de="seit dem",
     fr="depuis le")}}
{{fds(this.owner.applies_from)}}
{% endif %}
{% if this.owner.applies_until %}
{{tr(en="until",
     de="bis zum",
     fr="jusqu'au")}}
{{fds(this.owner.applies_until)}}
{% endif %}
</p>

{% endblock %}
