{% extends "attestations/Attestation/certificate.body.html" %}

{% block body %}

{{ super() }}

<p>
{{tr(en="receives since ",
    de="seit dem .... / .... / 20....",
    fr="bénéficie depuis le .... / .... / 20....")}}
{{fds(this.owner.applies_from)}}
{{fds(this.owner.applies_until)}}
</p>

<p>
{{tr(
en="a financial aid.",
de="eine laut Gesetz vom 2. April 1965 eingeführte Sozialhilfe für Ausländer bezieht.",
    fr="d’une aide sociale prévue par la loi du 2 avril 1965.")}}
</p>

{% endblock %}
